* {
    margin: 0;
    padding: 0;
}

body{
    background-color: steelblue;
    color: #EEE;
    font-family: sans-serif;
    text-align: center;
}

#tablero{
    background-color: white;
    height: 400px;
    width: 400px;
    margin: auto;
}

#tablero p{
    background-color: black;
    color: white;
    float: left;
    font-size: 36px;
    height: 50px;
    width: 50px;
    vertical-align: center;
}

#tablero .filaImpar p:nth-child(2n+1){
    background-color: white;
    
}
