html{
   font-size: 20px;
}

body{
    color: #fcfcfc;
    background-color: #355664;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1rem;
}

footer{
    background-color: black;
    color: white;
    font-size: 0.7rem;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

div.wrapper{
    margin: 0 auto;
    width: 80%;
}

section article{
    background-color: rgba(33,62, 74,1);
    margin-top: 20px;
    padding: 12px;
}

